.page-title {
  display: flex;
  align-items: center;

  &__icon {
    width: 40px;
    height: 40px;
    margin: 0 15px 0 0;

    @include mobiles {
      width: 30px;
      height: 30px;
    }
  }

  &__text {
    display: inline-block;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.25rem;
    color: $dark-blue;

    @include mobiles {
      display: none;
    }
  }

  &__svg-icon {

  }
}
