// Media queries
$tablet-width: 768px;

// Grey color
$white: #fff;
$black: #000;
$light-grey: #e9edf4;
$grey: #f2f2f6;
$grey-hue-1: #e0e5ea;
$dark-grey: #ccd4dc;

$light-blue: #d7ecfa;
$blue: #177bbb;
$dark-blue: #4c5d6e;

$yellow: #fff2ca;

$main-text-color: #000;
$secondary-text-color: #99a8b7;
$danger-color: #c94d4c;
$success-color: #4db6ac;

// Left and right container paddings
$container-side-padding-desktop: 32px;
$container-side-padding-mobiles: 16px;

$left-nav-width: 96px;

$header-height-desktop: 96px;
$header-height-mobiles: 57px;

$testing-footer-height-desktop: 48px;
$testing-footer-height-mobiles: 40px;
